################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/demoRep/FileContentIndex
/.vs/demoRep/v17
/.vs
